body{
    background-color: azure;
}
h2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    color: Black;
}

h3 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    color: Black;
}
ol {
    list-style-type: none;
}
pre {
    font-family: 'Roboto', sans-serif;
}
#header{
    margin: 3em 10em 0;
    background-color: white;
    padding: 1em;
    border: solid 1px gray;
    border-bottom-style: none;
}
#content {
    margin: 0 10em;
    border: solid 1px gray;
    background-color: white;
    padding: 1em;
}
a:link, a:visited {
    background-color: #666666;
    padding: 25px;
    font-family: Tahoma, sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
    border-radius: 8px;
}

a:hover, a:active {
    background-color: #4d4d4d;
}

.creed {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.in {
    display: inline;
    display: -moz-inline-block;
    margin: 5px;
}

.MS {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
}