body {
    margin: 2.5em 3em;
    padding: 1em;
}
h1 {
    margin-left: 1.25em;
}
ul {
    list-style-type: none;
}
li {
    padding: .5em;
    width: 10.9em;
    border: 1px solid black;
    border-bottom: none;
}
li:last-child{
    border-bottom: 1px solid black;
}
#form {
    margin-left: 2.5em;
}